p {
    margin-bottom: 5px;
    font-size: 12px;
    text-align: right;
    overflow: hidden;
}

b {
    float: left;
}

.card {
    margin-bottom: 10px;
}

.custom-container-class-name {
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}
